<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.daff.oishii.member.mapper.PointTransMapper">
  <resultMap id="BaseResultMap" type="io.daff.oishii.member.entity.po.PointTransPO">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_code" jdbcType="VARCHAR" property="userCode" />
    <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
    <result column="point" jdbcType="INTEGER" property="point" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_code, order_no, point, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from point_trans
    where id = #{id,jdbcType=INTEGER}
  </select>
    <select id="selectPoints" resultType="io.daff.oishii.member.entity.po.PointTransPO">
      select <include refid="Base_Column_List"/>
      from point_trans
      where user_code = #{userCode}
      and create_time between #{upgradeTime} and now()
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from point_trans
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="io.daff.oishii.member.entity.po.PointTransPO" useGeneratedKeys="true">
    insert into point_trans (user_code, order_no, point, 
      create_time)
    values (#{userCode,jdbcType=VARCHAR}, #{orderNo,jdbcType=VARCHAR}, #{point,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="io.daff.oishii.member.entity.po.PointTransPO" useGeneratedKeys="true">
    insert into point_trans
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userCode != null">
        user_code,
      </if>
      <if test="orderNo != null">
        order_no,
      </if>
      <if test="point != null">
        point,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userCode != null">
        #{userCode,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null">
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="point != null">
        #{point,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="io.daff.oishii.member.entity.po.PointTransPO">
    update point_trans
    <set>
      <if test="userCode != null">
        user_code = #{userCode,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null">
        order_no = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="point != null">
        point = #{point,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="io.daff.oishii.member.entity.po.PointTransPO">
    update point_trans
    set user_code = #{userCode,jdbcType=VARCHAR},
      order_no = #{orderNo,jdbcType=VARCHAR},
      point = #{point,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>