<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.daff.oishii.console.mapper.StaffMapper">
    <resultMap id="BaseResultMap" type="io.daff.oishii.console.entity.po.StaffPO">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="code" jdbcType="VARCHAR" property="code"/>
        <result column="merchant_code" jdbcType="VARCHAR" property="merchantCode"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="status" jdbcType="CHAR" property="status"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="create_at" jdbcType="TIMESTAMP" property="createAt"/>
        <result column="update_by" jdbcType="VARCHAR" property="updateBy"/>
        <result column="update_at" jdbcType="TIMESTAMP" property="updateAt"/>
        <result column="change_at" jdbcType="TIMESTAMP" property="changeAt"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, `name`, code, merchant_code, `password`, description, `status`, create_by, create_at,
        update_by, update_at, change_at
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from staff
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectByName" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from staff
        where name = #{name}
        and status = '1'
    </select>
    <select id="selectByCode" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/>
        from staff
        where code = #{code}
        and status = '1'
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from staff
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="io.daff.oishii.console.entity.po.StaffPO"
            useGeneratedKeys="true">
        insert into staff (`name`, code, merchant_code,
        `password`, description, `status`,
        create_by, create_at, update_by,
        update_at, change_at)
        values (#{name,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, #{merchantCode,jdbcType=VARCHAR},
        #{password,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{status,jdbcType=CHAR},
        #{createBy,jdbcType=VARCHAR}, #{createAt,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR},
        #{updateAt,jdbcType=TIMESTAMP}, #{changeAt,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="io.daff.oishii.console.entity.po.StaffPO"
            useGeneratedKeys="true">
        insert into staff
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">
                `name`,
            </if>
            <if test="code != null">
                code,
            </if>
            <if test="merchantCode != null">
                merchant_code,
            </if>
            <if test="password != null">
                `password`,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="status != null">
                `status`,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="createAt != null">
                create_at,
            </if>
            <if test="updateBy != null">
                update_by,
            </if>
            <if test="updateAt != null">
                update_at,
            </if>
            <if test="changeAt != null">
                change_at,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="code != null">
                #{code,jdbcType=VARCHAR},
            </if>
            <if test="merchantCode != null">
                #{merchantCode,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=CHAR},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createAt != null">
                #{createAt,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="updateAt != null">
                #{updateAt,jdbcType=TIMESTAMP},
            </if>
            <if test="changeAt != null">
                #{changeAt,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="io.daff.oishii.console.entity.po.StaffPO">
        update staff
        <set>
            <if test="name != null">
                `name` = #{name,jdbcType=VARCHAR},
            </if>
            <if test="code != null">
                code = #{code,jdbcType=VARCHAR},
            </if>
            <if test="merchantCode != null">
                merchant_code = #{merchantCode,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                `password` = #{password,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                `status` = #{status,jdbcType=CHAR},
            </if>
            <if test="createBy != null">
                create_by = #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createAt != null">
                create_at = #{createAt,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="updateAt != null">
                update_at = #{updateAt,jdbcType=TIMESTAMP},
            </if>
            <if test="changeAt != null">
                change_at = #{changeAt,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="io.daff.oishii.console.entity.po.StaffPO">
        update staff
        set `name` = #{name,jdbcType=VARCHAR},
        code = #{code,jdbcType=VARCHAR},
        merchant_code = #{merchantCode,jdbcType=VARCHAR},
        `password` = #{password,jdbcType=VARCHAR},
        description = #{description,jdbcType=VARCHAR},
        `status` = #{status,jdbcType=CHAR},
        create_by = #{createBy,jdbcType=VARCHAR},
        create_at = #{createAt,jdbcType=TIMESTAMP},
        update_by = #{updateBy,jdbcType=VARCHAR},
        update_at = #{updateAt,jdbcType=TIMESTAMP},
        change_at = #{changeAt,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>